<div class="mx-auto mt-2">
    <div class="card">
        <div class="card-header">About</div>
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere ipsum dolores accusamus, sunt odit rerum
                omnis eligendi ipsam ut perspiciatis voluptatem sed cum, atque suscipit deserunt saepe enim dolor?
                Maiores.</p>

        </div>
    </div>
</div>