<div class="card mt-2">
    <div class="card-header">
        <h2>Aplication for notes</h2>
    </div>
    <div class="card-body">
        <p>This aplicaction is developed with Nodejs and MongoDB as Database, here we will have a basic CRUD for de
            notes that you want to develop, also a autentication sistem with Signin and Signup with passportjs</p>
    </div>
</div>